

#baseBodyProperties{
    align-items: center;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
}


/*
    Gray box properties
*/
.baseBox {
    font-size: 120%;
    margin: 5px;
    box-sizing: border-box;
    border: 5px solid black;
    width: 32%;
    height: 300px;
    background-color: gray;
    float: left;
}

/*
    Menu Lebel properties
*/
.menuItem{
    font-size: 150%;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    text-align: right;
    text-align: center;
    width: 30%;
}

#pepper{
    background-color: brown;
}
#lemons{
    background-color: yellowgreen;
}
#apples{
    background-color: red;
}


/*
    Layout settings
*/
@media (max-width: 1023px){
    .baseBox{
        float: none;
        width: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1140px) {
    .baseBox{
        float: left;
        width: 49%;
    }
    #lowerBox {
        width: 99%;
    }
}